[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
aliyun-python-sdk-core = "*"
oss2 = "*"

[dev-packages]
ipython = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
